{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for cat, msg in messages %}
            {% if cat == 'auth-failed' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}



<div class="container-fluid">
    <div class="row" id="sign_up_page">
        <div class="col-12 col-md-8" id="sign_up_photo">
            <img class="img-fluid" width="100%" height="auto" src="http://s3.amazonaws.com/gt7sp-prod/decal/32/86/14/4899925203710148632_1.png" alt="Porsche Silhouette">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center" id="sign_up_form">
            <div>
                <h1>Sign In</h1>
                <form method="POST">
                
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <fieldset id="email-field">
                            {{ form.email.label }}
                            {{ form.email(class = "form-control", placeholder = "Place Email Here...") }}
                        </fieldset>
                        <fieldset id="password-field">
                            {{ form.password.label }}
                            {{ form.password(class = "form-control", placeholder = "Place Password Here...") }}
                        </fieldset>
                        <div>
                        {{ form.submit_button(class = "btn btn-primary btn-block") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}